<header class="header">
  <div class="header__left">
    <button class="toggle-menu"><i class="bi bi-chevron-double-right"></i></button>
    <a href="#"><span><i class="fa-solid fa-book-open"></i> Main</span></a>
    <span>/</span>
    <a href="#">Getting started</a>
    <span>/</span>
    <a href="#">Front-end developer test proj...</a>
  </div>

  <div class="header__right">
    <a href="#"><span><i class="fa-solid fa-unlock"></i>  Editing</span></a>
    <span>|</span>
    <a href="#" class="dropdown"><span>Publish Space  <i class="fa-solid fa-chevron-down"></i></span></a>
  </div>
</header>
