<header class="header">
  <div class="header__left">
    <button class="toggle-menu"><i class="bi bi-chevron-double-right"></i></button>
    <a href="#"><span><i class="bi bi-book"></i> Main</span></a>
    <span>/</span>
    <a href="#">Getting started</a>
    <span>/</span>
    <a href="#">Front-end developer test proj...</a>
  </div>

  <div class="header__right">
    <i class="bi bi-chevron-double-right"></i>
    <a href="#"><span><i class="bi bi-book"></i> Main</span></a>
  </div>
</header>
