  <nav class="mini-nav">
    <div class="mini-nav__left">
      <button class="mini-nav__p">P</button>
      <span>|</span>
      <span><i class="fa-regular fa-clock"></i> 0min</span>
      <span>|</span>
      <button class="mini-nav__feathure"><i class="fa-solid fa-feather"></i></button>
      <span>|</span>
      <span><i class="fa-solid fa-check-double"></i> 0</span>

    </div>

    <div class="mini-nav__right">
      <span><i class="fa-regular fa-circle-check"></i></span>
      <span class="cloud"><i class="fa-solid fa-cloud"></i></span>
      <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
    </div>
  </nav>
