<%= render "shared/header" %>
<main class="container container--post-index">
  <%= render "shared/mini-nav" %>
  <div class="post">
    <input type="text" id="title" Value="Front-end developer test project" class="post__title">
    <div id="newpost" class="post__content"></div>
  </div>
</main>
