.post {
  display: flex;
  flex-direction: column;

  &__title {
    border: none;
    border-bottom: 2px solid var(--color-border);
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;

    &:focus {
      outline: none;
      border-bottom: 2px solid var(--color-border-dark);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    & > * {
      border: 1px solid red;
      outline: none;
      margin-top: 5px;
    }
  }


}