.post {
  display: flex;
  flex-direction: column;

  &__title {
    border: none;
    border-bottom: 2px solid var(--color-border);
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;

    &:focus {
      outline: none;
      border-bottom: 2px solid var(--color-border-dark);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    & * {
      border: none;
      outline: none;
      margin-top: 5px;
      background-color: transparent;
    }

    &__inputcontainer {
      position: relative;

      input {
        width: 100%;
      }
    }

    [contenteditable=true]:empty:before {
      content: attr(placeholder);
      color: #82828287;
    }

    [contenteditable=true]:hover {
      cursor: text;
    }

    input:not(:hover):not(:focus)::placeholder {
      color: transparent;
      transition: color 1s;
    }

  }
}
