.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid red;
  height: 3rem;
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: 1ch;

    .toggle-menu {
      background-color: transparent;
      border: none;
      margin-right: 1ch;
      cursor: pointer;
      padding: 5px 8px;
      border-radius: var(--border-radius);
    }

    .toggle-menu:hover {
      background-color: var(--color-glint);
    }

  }

  &__right {
    display: flex;
    align-items: center;
  }
}